# Directorios generados por IDEs
.idea/
.classpath
.project

# Archivos temporales
*.swp

# Archivos compilados Java
*.class

# Archivos de construcción
/bin/
/target/
/out/

# Archivos de configuración
*.iml

# Ignorar archivos CSV en la carpeta db
*.csv
